{{#unless emailEmpty}}
<div class="checkbox">
	<label>
		{{input type="checkbox" name="enviarEmail" checked=generarExcel }}Generar Excel y Enviar por Correo a {{emailaddress}}
	</label>
</div>
{{/unless}}