{{#if isCliente}}
	{{#link-to  opcion (query-params prospecto="" afiliacion="" origenOferta="") class=bsClass role="button"}}Ir a opci贸n &raquo;{{/link-to}}
{{else}}
	{{#if isOferta}}
		{{#link-to  opcion (query-params  afiliacion="" prospecto="") class=bsClass role="button"}}Ir a opci贸n &raquo;{{/link-to}}
	{{else}}
		{{#if consulta}}
			{{#link-to  opcion class=bsClass role="button"}}<span class="glyphicon glyphicon-star" aria-hidden="true"></span>Ir a opci贸n &raquo;{{/link-to}}
		{{else}}
		    
				{{#link-to  opcion class=bsClass role="button"}}Ir a opci贸n &raquo; {{/link-to}}
		{{/if}}
	{{/if}}
{{/if}}

