<br><br>
	<div class="h3 text text-info">Arcadia - Cuadro de Ventas - {{if enganche 'con' 'sin'}} enganche  </div>
<div class="checkbox">
	<label>{{input type="checkbox" name="engache" checked=enganche }}Con Enganche</label>
</div>
{{#if mostrarBoton}}
	<div class="btn btn-info" {{action "pedir"}}>Mostrar Datos</div>
{{/if}}

{{#bsz-table titleCols=titleCols}}
  {{#each ventascuadro as | record |}}
    {{bsz-row record=record titleCols=titleCols alignments=alignments}}
  {{/each}}
{{/bsz-table}}
