<br>
{{#with content}}
 {{gravatar-image emailhashed=gravatar}}
{{/with}}
 <br>
<div class="alert alert-info"><a class="close" data-dismiss="alert" href="#">x</a>Digite su correo electr&oacute;nico registrado en Gravatar si tiene cuenta all&iacute;</div>
<form {{action 'actualizaGravatar' on='submit'}}>
        <div class="form-group">
          <label for="gravatarEmail">Correo Electr&oacute;nico</label>
          <div class="row">
            <div class="col-xs-8 col-md-4">
            
            {{mail-check
            	name='gravatar_email'
  				type='email'
  				value=gravatarEmail
  				inputClass='form-control'
  				placeholder='Digite email'
  				hintMessage='No parece ser una dirección válida'
  				suggestionMessage='Quiso decir...'
  			}}
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
 </form>