<br><br>
<div class="form-group">
		<label class="control-label">Etapa</label>
		<div class="row">
			<div class="col-md-5">
				{{#x-select value=selectedEtapa action=(action  (mut selectedEtapa)) class="form-control form-control-inline"}}
						{{#x-option value='1'}}Todas{{/x-option}}
						{{#each etapas as |item|}}
							{{#x-option value=item.id}}{{item.nombre}}{{/x-option}}
					{{/each}}
				{{/x-select}}
			</div>
		</div>
	</div>