<br><br>
{{#if tipoPromedio}}
	<div class=" h3 text text-info">Ventas promedio por dia</div>
	{{else}}
	<div class="h3 text text-info">Ventas totales por dia</div>
{{/if}}
<div class="form-group">
		<label class="control-label">Tipo</label>
		<div class="row">
			<div class="col-md-5">
				{{#x-select value='1' action=(action  (mut selectedTipo)) class="form-control form-control-inline"}}
						{{#x-option value='1'}}Ventas promedio por dia{{/x-option}}
						{{#each tipo as |item|}}
							{{#x-option value=item.id}}{{item.nombre}}{{/x-option}}
					{{/each}}
				{{/x-select}}
			</div>
		</div>
	</div>

{{pie-chart data=model options=options}}	

